**/node_modules/
**/.next/
**/dist/
**/build/
**/out/

**/cache/
**/artifacts/
**/typechain/
**/typechain-types/
**/coverage/
**/coverage.json

.DS_Store

.env
.env.*
**/.env
**/.env.*

**/*.db

**/*.log

**/.idea/
**/.vscode/
